@model BankTransaction.Models.LogIn
<div class="text-center">
    <h3>Welcome To Mon€y Track€r</h3>
    <p>Don't Have an <a asp-action="Register" asp-controller="Transaction">Account?</a></p>


</div>

<h2 class="text-center mb-4">Login</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="container d-flex justify-content-center align-items-center min-vh-80">
   
    <div class="card p-4 shadow-sm" style="width: 350px;">
        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

          

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Auto-hide alert after 2 seconds (2000ms)
        setTimeout(function () {
            var alert = document.getElementById('success-alert');
            if (alert) {
                alert.style.display = 'none';
            }
        }, 2000);
    </script>
}
